.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orangered;
  min-height: 100vh;
  transition: 1s ease-in-out;

  .ring-loader {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: ring 2s linear infinite;

    &::before {
      contain: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(255, 255, 255, 3);
    }
  }
  .loading {
    color: orangered;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #f1cf0e;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #04e004;
  }
}
