.category-menu {
  &.category-menu-open {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  position: absolute;
  background-color: white;
  width: 120px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  right: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 4px solid aqua;
  transition: 0.3s;
  .category-link {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    li {
      height: 48px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 18px;
      color: #777;
      transition: 0.1s;
      &:hover {
        background-color: #fafafa;
        padding: 22px;
      }
    }
  }
}
@media (max-width: 768px) {
  .category-menu {
    position: relative;
    display: none;
    width: 100%;
  }
  .category-menu-open {
    display: block;
    opacity: 1;
    margin-top: 0;
  }
}
