.confirm-email {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;

  .icon-success {
    font-size: 60px;
    color: green;
  }
  .icon-faild {
    font-size: 60px;
    color: red;
  }
  .description {
    font-size: 15px;
  }
}
